{{ pageAddAsset('stylesheet', zasset('@KratorStreamModule:css/custom.css'), 120) }}

<h3><i class="fa fa-edit"></i>{% trans %}Create Game{% endtrans %}</h3>

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
